html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../images/bg-img/background\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --hover_color: #f26522;
}
.container {
  width: 1030px;
  margin: 0 auto;
}

.galery__header {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}

/* logo__section */

.galery__header-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galery__header-img {
  width: 53px;
  height: 47px;
  background-image: url(../images/icon/logo.png);
  margin-right: 8px;
}

.galery__header-link:hover .galery__header-img {
  background-image: url(../images/icon/logoHover.png);
  transition: 0.3s linear;
}

.galery__header-title {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 6px;

  text-transform: uppercase;
  color: #fff;
}

.galery__header-link:hover .galery__header-title {
  color: var(--hover_color);
  transition: 0.3s linear;
}

.galery__header-span {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;

  color: #fff;
}

.galery__header-link:hover .galery__header-span {
  color: var(--hover_color);
  transition: 0.3s linear;
}

/* logo__section */

.galery__header-contactsLink {
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 19px;
  text-align: right;
}

.galery__header-contactsLink:last-child {
  margin-bottom: 0;
}

.hover_maill:hover {
  color: var(--hover_color);
  transition: 0.3s linear;
}

.hover_tel:hover {
  color: var(--hover_color);
  transition: 0.3s linear;
}

/* main__section */

.section__main {
  margin-top: 22px;
  margin-bottom: 49px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__main-card {
  margin-bottom: 37px;
}

.section__main-card:not(:nth-child(-n + 3)) {
  margin-bottom: 0;
}

.section__main-card {
  width: 300px;
}

.position {
  position: relative;
  width: 300px;
  overflow: hidden;
}

.section__main-img {
  display: block;

  width: 300px;
  height: 220px;
}

.section__main-heading {
  font-size: 18px;
  line-height: 18px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.hover__card {
  position: absolute;
  left: 0;
  bottom: -55px;
  justify-content: space-between;
  display: flex;
  opacity: 0;
  width: 100%;
  height: 55px;
  background-color: var(--hover_color);
  pointer-events: none;
}

.hover__card-price {
  display: flex;
  flex-direction: column;
}

.hover__card-from {
  font-size: 10px;
  line-height: 10px;
  margin-top: 8px;
  margin-left: 16px;
  color: #fff;
}

.hover__card-euro {
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
  margin-left: 16px;
  color: #fff;
}

.hover__card-details {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  margin-top: 29px;
  margin-right: 37px;
  color: #fff;
}

.hover__card-details::after {
  position: absolute;
  right: -20px;
  bottom: 14px;
  content: "";
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.section__main-card:hover .hover__card {
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.3s linear;
  pointer-events: all;
}

.section__main-card:hover .section__main-heading {
  transition: 0.3s linear;
  color: var(--hover_color);
}

/* main__section */

.section__footer-text {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
