html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: #000;
}

.wrapper {
  width: 1130px;
  height: 700px;
  margin: 0 auto;
  perspective: 700px;
  overflow: hidden;
}

.container {
  width: 700px;
  margin: 0 auto;
  background-color: #000;
  text-align: center;
  transform: scale3d(0.7, 1.5, 1.5) rotateX(60deg);
}

.star__wars-text {
  transform: translateY(567px);
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  color: rgb(255, 251, 0);
  text-transform: uppercase;

  animation-name: animation-text;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation-text {
  0% {
    transform: translateY(567px);
  }
  100% {
    transform: translateY(-150px);
  }
}
