html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: url(../image/bg_img/background_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --color_text: #fff;
  --color_text-form: #434343;
  --color_hover-text: #01813f;
}

/* HEADER SECTION */

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__section-logo-link {
  display: block;
  margin-left: 79px;
  padding: 18px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color_text);
}

.header__section-logo-link:hover {
  transition: 0.3s linear;
  color: var(--color_hover-text);
}

.header__section-siteBar {
  display: flex;
  align-items: center;
}

.icon-siteBar {
  margin-right: 25px;
  display: inline-block;
  width: 21px;
  height: 24px;
  cursor: pointer;
  fill: var(--color_text);
}

.icon-siteBar:hover {
  transition: 0.3s linear;
  fill: var(--color_hover-text);
}

.section-siteBar-text {
  margin-right: 79px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--color_text);
}

.section-siteBar-text::before {
  content: "";
  border-left: 1px solid #fff;
  margin-right: 25px;
}

.section-siteBar-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--color_text);
}

.section-siteBar-link:hover {
  transition: 0.3s linear;
  color: var(--color_hover-text);
}

/*  SECTION  MAIN*/

.section__form {
  position: relative;
}

.registr__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  width: 444px;
  height: 584px;
  background-color: #fff;
}

.registr__form::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}

.registr__form-container {
  width: 322px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registr__form-item {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-link-signUp {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color_text-form);
}

.form-link-logIn {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  padding-bottom: 1px;
}

.form-link-logIn:hover {
  color: var(--color_hover-text);
  transition: 0.3s linear;
}
.form-link-logIn:hover::after {
  content: "";
  display: block;
  width: 15px;
  height: 0.5px;
  background-color: var(--color_hover-text);
}

.form-link-logIn:hover::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 15px;
  height: 0.5px;
  background-color: var(--color_hover-text);
}

.registr__form-btn {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.form-btn-social {
  position: relative;
  width: 158px;
  margin: 0;
  padding: 17px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: right;
  color: var(--color_text);
}

.btn--facebook {
  background-color: #305db8;
  padding-right: 22px;
}

.btn--facebook:hover {
  transition: 0.3s linear;
  background-color: #022263;
}

.btn--google {
  background-color: #df4a32;
  padding-right: 30px;
}

.btn--google:hover {
  transition: 0.3s linear;
  background-color: #ab1f09;
}

.icon-facebook {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 24px;
}

.icon-facebook::after {
  content: "";
  margin-left: 18px;
  border-left: 1px solid rgba(10, 22, 47, 0.1);
}

.icon-google {
  position: absolute;
  top: 13px;
  left: 12px;
  font-size: 26px;
}

.icon-google::after {
  content: "";
  margin-left: 8px;
  border-left: 1px solid rgba(43, 13, 9, 0.1);
}

.registr__form-divider {
  margin-top: 29px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #848484;
}

.registr__form-divider::after,
.registr__form-divider::before {
  content: "";
  margin-top: 2px;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  margin-inline: 5px;
}

.registr__form-input {
  padding: 15px 20px;
  margin-bottom: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: var(--color_text-form);
}

.registr__form-input:last-of-type {
  margin-bottom: 0;
}

.registr__form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.registr__form-input:focus {
  box-shadow: 0px 3px 8px 0px #00000036;
}

.checkbox-wrapper {
  position: relative;
  margin-top: 11px;
  margin-bottom: 19px;
}

.registr__form-label {
  margin-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--color_text-form);
  vertical-align: center;
  user-select: none;
  cursor: pointer;
}

.registr__form-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  position: absolute;
  top: -1px;
  left: 0;
}

.registr__form-checkbox:checked + .registr__form-label::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1px;
  left: 2px;
  background-image: url(../image/icon/Vector\ 1.svg);
  background-repeat: no-repeat;
}

.registr__form-checkbox {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.registr__form-checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.registr__form-checkbox-link:hover {
  transition: 0.3s linear;
  color: var(--color_hover-text);
}

.registr__form-checkbox-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  right: 70px;
  bottom: -2px;
  width: 120px;
  height: 1px;
  background-color: var(--color_hover-text);
}

.registr__form-submit {
  font-size: 16px;
  line-height: 16px;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 4px;
  background-color: #3cb878;
  color: var(--color_text);
  cursor: pointer;
}

.registr__form-submit:hover {
  transition: 0.3s linear;
  background-color: var(--color_hover-text);
}
