html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* header-section */

.elements__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
}

/* header-logo */

.logo__header {
  margin-left: 27px;
}

.logo__header-link {
  display: flex;
  align-items: center;

  font-family: Open Sans;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.logo__header-link:hover {
  color: #14b9d5;
  transition: 0.3s;
}

.logo__header-img {
  margin-right: 27px;
}

/* header-navigation */

.navigation__header-list {
  display: flex;
  align-items: center;
}

.navigation__header-items {
  padding: 25px 0;
  margin-left: 35px;
}
.navigation__header-items:first-child {
  margin-left: 0;
}

.navigation__header-link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation__header-link:hover {
  color: #14b9d5;
  transition: 0.3s;
}

/* header-search */

.search__header-link {
  border: none;
  font: inherit;
  color: inherit;
  padding: 25px;
  background-color: #000;
  cursor: pointer;
}

/*  main-section */

/* element__section-bg_img */

.element__section-bg_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(3, 3, 3, 0.3)),
    url(../images/bg_images/header-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 164px;
  padding-bottom: 74px;
  text-align: center;
}

.heading__section {
  margin-bottom: 60px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}

.position__section-btn {
  display: flex;
  justify-content: center;
}

.btn__section {
  display: block;
  min-width: 170px;
  padding: 17px 0;
  color: #fff;
  background-color: #89ca62;
  margin-left: 20px;
  border-radius: 5px;
}

.btn__section:first-child {
  margin-left: 0;
}

.btn__section:hover {
  background-color: #14b9d5;
  transition: 0.3s;
}

/* img__section */

.img__section-title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  color: #18b4cf;
  margin-top: 50px;
}

.img__section-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 890px;
  margin-top: 50px;
}

.img__section-item {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.img__section-desc {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 21px 0;
  text-align: center;
  color: #353a3d;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.margin_position {
  margin-top: 28px;
}

/* clients__section */

.clients__section {
  background-image: url(../images/bg_images/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 105px;
  padding-bottom: 191px;
  text-align: center;
}

.clients__section-heading {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;

  text-transform: uppercase;
  color: #ffffff;
}

.clients__section-heading::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  margin-left: 560px;
  margin-top: 87px;
}

.clients__section-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;

  padding: 0px 90px;
  margin-top: 106px;
}

/* rated__section */

.rated__section-list {
  margin-top: 51px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.rated__section-img {
  width: 100%;
}

.news__section-list {
  margin-top: 50px;

  display: grid;
  grid-template-areas:
    "postOne postOne postOne postTwo"
    "postThree postThree postFour postFour"
    "postFive postFive postSix postSix"
    "postSeven postEight postEight postEight";
}

.news__section-item-postOne {
  grid-area: postOne;
  display: flex;
}

.news__section-item-postTwo {
  grid-area: postTwo;
  padding-left: 30px;
}

.news__section-item-postThree {
  grid-area: postThree;
  margin-top: 43px;
}

.news__section-item-postFour {
  grid-area: postFour;
  padding-left: 60px;
  margin-top: 43px;
}

.news__section-item-postFive {
  grid-area: postFive;
  margin-top: 43px;
}

.news__section-item-postSix {
  grid-area: postSix;
  padding-left: 60px;
  margin-top: 43px;
}

.news__section-item-postSeven {
  grid-area: postSeven;
  margin-top: 43px;
}

.news__section-item-postEight {
  grid-area: postEight;
  padding-left: 30px;
  margin-top: 43px;
  display: flex;
}

.news__section-img {
  display: block;
}

.news__section-item-title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding-top: 14px;
  padding-right: 14px;
  text-align: right;
  color: #353a3d;
}

.position-heading {
  padding-top: 40px;
}

.position-title {
  padding-bottom: 11px;
  padding-right: 0;
  text-align: center;
}

.position-head {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 0;
  text-align: center;
}

.news__section-item-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-top: 14px;
  padding-right: 14px;
  padding-left: 14px;
  text-align: right;

  color: #5b6469;
}

.bgc-card {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.bgc-card:hover {
  background-color: #5cf7d841;
  transition: 0.3s linear;
  cursor: pointer;
}

/* footer-section */

.element__footer {
  margin-top: 77px;
  background: #000000;
}

.element__footer-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text__footer {
  font-family: Open Sans;
  font-size: 13px;
  line-height: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

.logo__footer-img {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}
